{{ partial "assign_id.html" . }}

<div class="chart-container">
    <div class="chart bar-chart figure" id='{{ .Scratch.Get "id" }}'></div>
</div>

<script type="text/javascript">
    $(document).ready(function() {

        let variable = "{{ .Get 0 }}"
        // We want this fallback to the variable name if a column isn't provided,
        // this makes it easier to pass a dataset containing only one column
        let column = "{{ if (.Get 1) }}{{ .Get 1 }}{{ else }}{{ .Get 0 }}{{ end }}"
        let tar_ds = mainData[variable]

        let tarchart = $('#{{ .Scratch.Get "id" }}')
        let fill_color = getComputedStyle(document.documentElement).getPropertyValue('--bar-chart-fill');
        let axis_color = getComputedStyle(document.documentElement).getPropertyValue('--bar-chart-axis');
        let bar_padding = getComputedStyle(document.documentElement).getPropertyValue('--bar-chart-padding');
        let margin = {top: 10, right: 30, bottom: 30, left: 40},
            width = tarchart.width() - margin.left - margin.right,
            height = tarchart.height() - margin.top - margin.bottom;
        let rheight = height + margin.top + margin.bottom;
        let rwidth = width + margin.left + margin.right;

        let svg = d3.select('#{{ .Scratch.Get "id" }}')
            .append("svg")
            .attr("viewBox", `0 0 ${rwidth} ${rheight}`)
            .append("g")
            .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");
      
        tar_ds.then(function (data) {
            // check for weird blank values and set them to NA, since that covers a lot of missing data situations
            data.forEach(d => {if (!d[column]) {d[column] = "NA"}});
            let x = d3.scaleBand()
                    .domain(data.map(d => d[column]))
                    .range([0, width])

            
            // transform our dataframe to a dataframe of counts on the target column
            // Googling this problem gives you, I shit you not, hundreds of bad solutions. 
            // This is, as far as I'm aware, the only way to do this without extra processing, 
            // Since the => denotes an anonymous function, you can get pretty wild with this pattern too

            let tarcount = Array.from(d3.group(data, d => d[column]),
                ([key, value]) => ({key: key, ct: value.length}));

            let y = d3.scaleLinear()
                        .domain([0, d3.max(tarcount, d => d.ct)])
                        .range([0, height])

            svg.append("g")
                .call(d3.axisLeft(y))
            
            svg.append("g")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(x))
            

            svg.selectAll("rect")
                .data(tarcount)
                .enter()
                .append("rect")
                    .attr("height", d => y(d.ct))
                    .attr("width", x.bandwidth() - bar_padding)
                    .attr("x", d => x(d.key))
                    .attr("y", d => height - y(d.ct))
                    .attr("fill", fill_color)
            
                
        })
        
    })

</script>
