<script src="https://d3js.org/d3.v7.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<h3 class="chart-header" id="protected-chart-header-{{ .Get 0 }}-{{ .Get 1 }}"></h3>
<div class="chart" id="protected-chart-{{ .Get 0 }}-{{ .Get 1 }}"></div>
<script type="text/javascript">
{
    // Boilerplate for LivingJournal
    variable = "{{ .Get 0 }}"
    data = mainData[variable]
    let column = "{{ .Get 1 }}"
    title = "{{ .Get 2 }}"
    title = title.replace("$COLUMN", column)
    $("#protected-chart-header-{{ .Get 0 }}-{{ .Get 1 }}").text(title)


    data.then((response) => {
        // Boilerplate for d3
        if (!(response.columns.includes(column))){
            column = mainData[column]
        }
        margin = {top: 10, right: 30, bottom: 30, left: 40},
            width = 600 - margin.left - margin.right,
            height = 400 - margin.top - margin.bottom;


        svg = d3.select("#protected-chart-{{ .Get 0 }}-{{ .Get 1 }}")
            .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");

        x = d3.scaleLinear()
            .domain([0, d3.max(response, function (d) {
                return +d[column]
            })])
            .range([0, width]);

        svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x));

        histogram = d3.histogram()
            .value(function (d) {
                return +d[column];
            })
            .domain(x.domain())
            .thresholds(x.ticks(10));

        bins = histogram(response);

        y = d3.scaleLinear()
            .range([height, 0])
            .domain([0, d3.max(bins, function (b) {
                return +b.length
            })]);

        svg.append("g")
            .call(d3.axisLeft(y));

        fill_color = getComputedStyle(document.querySelector(".chart")).fill

        svg.selectAll("rect")
            .data(bins)
            .enter()
            .append("rect")
            .attr("x", 1)
            .attr("transform", function (d) {
                return "translate(" + x(d.x0) + "," + y(d.length) + ")";
            })
            .attr("width", function (d) {
                return x(d.x1) - x(d.x0) - 1;
            })
            .attr("height", function (d) {
                return height - y(d.length);
            })
            .style("fill", fill_color)

        reload_func = function (){
            column = mainData["{{ .Get 1 }}"]
            $("#protected-chart-{{ .Get 0 }}-{{ .Get 1 }}")
                .empty()

            svg = d3.select("#protected-chart-{{ .Get 0 }}-{{ .Get 1 }}")
                .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")");

            x = d3.scaleLinear()
                .domain([0, d3.max(response, function (d) {
                    return +d[column]
                })])
                .range([0, width]);

            svg.append("g")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(x));

            histogram = d3.histogram()
                .value(function (d) {
                    return +d[column];
                })
                .domain(x.domain())
                .thresholds(x.ticks(10));

            bins = histogram(response);

            y = d3.scaleLinear()
                .range([height, 0])
                .domain([0, d3.max(bins, function (b) {
                    return +b.length
                })]);

            svg.append("g")
                .call(d3.axisLeft(y));

            let fill_color = getComputedStyle(document.querySelector(".chart")).fill

            svg.selectAll("rect")
                .data(bins)
                .enter()
                .append("rect")
                .attr("x", 1)
                .attr("transform", function (d) {
                    return "translate(" + x(d.x0) + "," + y(d.length) + ")";
                })
                .attr("width", function (d) {
                    return x(d.x1) - x(d.x0) - 1;
                })
                .attr("height", function (d) {
                    return height - y(d.length);
                })
                .style("fill", fill_color)

        }

        $("#selector-{{ .Get 0 }}-{{ .Get 1 }}").change(reload_func);
    })
}
</script>
